:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.Mui-selected  {
  background-color: black !important;
  color: white !important;
}

.white{
  color: white !important;
}

.black{
  color: black !important;
}

.grey{
  color: #616161 !important;
}

.card{
  border-radius: 14px;
  background:  #FFF;
  box-shadow: 0px 6px 56px 0px rgba(0, 0, 0, 0.10);
  
}

.card_name{
  color:  #050505;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  text-transform: capitalize;
}

.card_remarks{
  color: #616161 !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px; 
}

.card_quote{
  overflow: hidden;
color: #616161 !important;
text-overflow: ellipsis;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 23px;
}

.score{
  padding: 10px 12px;
  border-radius: 32px;
border: 1px solid #8F8F8F;
max-height:7px;
}

.primaryCTA{
  height: 60px !important;
  width: 200px !important;
  font-size: 18px !important;
  font-family: Helvetica Neue !important;
  border: 1px solid #020202 !important;
  border-radius: 200px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  text-align: center !important;
  letter-spacing: .0025em !important;
  background-color: transparent !important;
  color: #fff !important;
  cursor: pointer ;
}

.primaryCTA:hover{
  opacity: .8 !important;
  color: tomato !important;
  border: 1px solid tomato !important;
}


.headingSecond{
  font-size: 36px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 44px !important; 
letter-spacing: -0.72px !important;
}

.subHeadingSecond{
  font-family: Poppins !important;
font-size: 18px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 28.5px !important;
}


.chooseHeading{
  color: #084162 !important;

  font-family: Poppins !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.chooseDetail{
  color: rgba(33, 103, 118, 0.86);

  font-family: Poppins !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}