:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.Mui-selected  {
  background-color: black !important;
  color: white !important;
}

.white{
  color: white !important;
}

.black{
  color: black !important;
}

.grey{
  color: #616161 !important;
}

.background-color-black{
  background-color: #040607 !important;
}

.card{
  border-radius: 14px;
  background:  #FFF;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card_name{
  color:  #050505;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; 
  text-transform: capitalize;
}

.card_remarks{
  color: #616161 !important;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px; 
}

.card_quote{
  overflow: hidden;
color: #616161 !important;
text-overflow: ellipsis;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 23px;
}

.score{
  padding: 10px 12px;
  border-radius: 32px;
border: 1px solid #8F8F8F;
max-height:7px;
}

.primaryCTA{
  height: 60px !important;
  width: 200px !important;
  font-size: 18px !important;
  font-family: Helvetica Neue !important;
  border: 1px solid #020202 !important;
  border-radius: 200px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
  text-align: center !important;
  letter-spacing: .0025em !important;
  background-color: transparent !important;
  color: #fff ;
  cursor: pointer ;
}

.primaryCTA:hover{
  opacity: .8 !important;
  color: tomato !important;
  border: 1px solid tomato !important;
}


.headingSecond{
  font-size: 36px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: 44px !important; 
letter-spacing: -0.72px !important;
}

.subHeadingSecond{
  font-family: Poppins !important;
font-size: 18px !important;
font-style: normal !important;
font-weight: 600 !important;
line-height: 28.5px !important;
}


.chooseHeading{
  color: #084162 !important;
  font-family: Poppins !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.chooseDetail{
  color: rgba(33, 103, 118, 0.86);
  font-family: Poppins !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}
.box-container_btn{
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 13.175px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.958px; 
  display: flex;
  padding: 11.711px 20.494px;
  justify-content: center;
  align-items: center;
  gap: 5.856px;
  border-radius: 4.392px;
  background: tomato;
}

.box-container_btn2{
  color: #5F6F86 !important;
}
.box-container_heaidng{
  color: #FFF;
  font-family: Poppins;
  font-size: 26.35px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.572px; 
}

.box-container_body{
  color: #C4C4C4;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.958px;
}

.review_heading{
  color: #040607;
  font-family: Poppins;
  font-size: 45.348px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 64.783px; 
  letter-spacing: -0.907px;
}


.acheivementheader{
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.horizontal_image{
    padding: 20px;
    border-radius: 6px;
    background-color:tomato;
}

.horizontal_image2{
  padding: 20px;
  border-radius: 6px;
  background-color:tomato;
}

.achievements_horizontal{
  padding: 20px 0px;
}
@media only screen and (max-width: 550px) {
  .box-container_body{
    color: #C4C4C4;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
  }
  .box-container_heaidng{
    color: #FFF;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
  }
  .box-container_btn{
    display: flex;
    padding: 3.522px 6.164px;
    justify-content: center;
    align-items: center;
    gap: 1.761px;
    font-size: 8px;
  }
  .box-container_btn2{
    display: flex;
    padding: 3.522px 6.164px;
    justify-content: center;
    align-items: center;
    gap: 1.761px;
    font-size: 8px;
  }
}